# ignore Maven generated target folders
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore intellij IDEA files
.idea
*.iml

# ignore grunt create files
.tmp/

# ignore macOS system file
.DS_Store